<%- partial ('../common/navbar.ejs') %>
<div class="container">
  <h2>Đăng Nhập</h2>
  <span class="help-block">Đăng nhập để sử dụng đầy đủ chức năng của Website mà không bị giới hạn .</span>
  <form role="form" class="form-signin" id="login">
    <div class="form-group has-feedback">
      <span class="glyphicon glyphicon-user form-control-feedback"></span>
      <label for="inputEmail" class="sr-only">Nhập Email</label>
      <input type="text" name="email" id="inputEmail" class="form-control" placeholder="Nhập Email" required autofocus>
    </div>

    <div class="form-group has-feedback">
      <label for="inputPassword" class="sr-only">Nhập Mật Khẩu</label>
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Nhập mật khẩu" required>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" value="remember-me"> Ghi nhớ
      </label>
    </div>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Đăng Nhập</button>
  </form>


</div>
<%- partial ('../common/footer.ejs') %>
