<ul class="getting-started">
  <li>
    <form action="/file/upload" method="post" enctype="multipart/form-data">
      <img id="thumb" style="width:200px;margin-top:10px" src="" alt="hình đại diện"><hr>
      <label>Please upload your avatar:</label>
      <input type="file" name="thumbnail" onchange="showMyImage(this)"/>
      <input type="submit"/>
    </form>
  </li>
</ul>
