<div class="col-sm-9 column-main">
  <%- partial ('carousel.ejs') %>

  <div id="featured" class="container-fluid">
    <% _.each(foundPost, function(post) { %>
    <a href="/post/view?id=<%= post.id %>">
    <div class="col-md-3 col-xs-3 col-sm-3 featured-cat">
        <img class="thumb-post" src="<%= post.thumbnail %>">
        <!--Thumbnail 270x400-->
        <div class="desc-post">
          <%= post.name %>
         </div>
      </div>
    </a>
    <% }) %>
  </div>
</div>


<div class="col-sm-3 column-right">

</div>

