

  <div id="featured" class="container-fluid">
    <% _.each(foundPost, function(post) { %>
    <a href="/post/view?id=<%= post.id %>">
    <div class="col-md-2 col-xs-3 col-sm-3 featured-cat">
        <img class="thumb-post" src="<%= post.thumbnail %>">
        <!--Thumbnail 270x400-->
        <div class="desc-post">
          <%= post.name %>
         </div>
      </div>
    </a>
    <% }) %>
  </div>


<div id="list-post" class="container col-sm-8">
  <div class="panel panel-default">
    <div class="panel-heading">PHIM HÀNH ĐỘNG</div>
    <div class="panel-body">Panel Content</div>
  </div>
</div>

