/* Remove the navbar's default margin-bottom and rounded borders */
body {
  background:#f1f1f1 !important;
  letter-spacing: 0.5px;
}
a:hover {
  text-decoration: none !important;
}
table thead , .modal-header {
  background:#a94442;
  color:#fff;
}
#page-cat_manager, #page-post_manager,#page-user_manager {
  background: #fff;

}
.navbar {
  margin-bottom: 15px;
  border-radius: 0;
 }
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
}

.jumbotron {
  background:#4b8c95;
  color:#f5e1ca !important;
}
#homeCarousel {
  margin:-15px 0 20px 0;
}
.thumbnail iframe {
  width:100%;
}
/* Add a gray background color and some padding to the footer */
footer {
  margin-top:20px;
  background-color: #f2f2f2;
  padding: 25px;
}
table input[type="checkbox"] {
  position: relative !important;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  min-height: 200px;
}
/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none;
  }
}
@media (max-width: 600px) {
  .container {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}
form#login {
  background:#fff;
  padding:20px;
}
